@import "tailwindcss";

:root {
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'OldEnglish';
  src: url('/fonts/OldeEnglish.ttf') format('truetype');
}
